In [70]:
import pandas as pd
import numpy as np

## Question 1

In [32]:
df = pd.read_csv('student_grades_2024.csv')

In [46]:
df.describe()

            Math    Science    Reading    History
count   7.000000   7.000000   7.000000   7.000000
mean   11.928571  14.214286  10.785714  11.428571
std     3.610501   3.615443   2.811541   2.620887
min     7.000000   9.000000   7.000000   7.500000
25%    10.250000  11.500000   9.500000   9.500000
50%    11.000000  15.500000  11.000000  12.000000
75%    13.500000  16.750000  11.250000  13.750000
max    18.000000  18.500000  16.000000  14.000000

In [48]:
df['Math'].median()

11.0

In [50]:
df['History'].mode()

0    14.0
Name: History, dtype: float64

## Question 2

In [24]:
df.value_counts()

Name    Math  Science  Reading  History
Adam    11.0  9.0      16.0     13.5       1
Alisha  9.5   12.0     10.5     14.0       1
Anna    12.0  11.0     8.5      10.0       1
Corey   7.0   15.5     11.0     14.0       1
James   11.0  18.0     11.5     9.0        1
Jodie   15.0  18.5     7.0      12.0       1
John    18.0  15.5     11.0     7.5        1
Name: count, dtype: int64

In [80]:
print('History and Math have the strongest relationship.')
df.corr(numeric_only=True).round(2)

History and Math have the strongest relationship.

         Math  Science  Reading  History
Math     1.00     0.27    -0.27    -0.72
Science  0.27     1.00    -0.53    -0.36
Reading -0.27    -0.53     1.00     0.21
History -0.72    -0.36     0.21     1.00

## Question 3

In [123]:
import statistics as stats
def desc_stats(math_exams):
    print(f'Mean: {np.mean(math_exams).round(2)}')
    print(f'Median: {np.median(math_exams)}')
    print(f'Mode: {stats.mode(math_exams)}')
    print(f'Min: {np.min(math_exams)}')
    print(f'Max: {np.max(math_exams)}')
    print(f'Range: {np.max(math_exams)-np.min(math_exams)}')
    print(f'Var: {np.var(math_exams).round(2)}')
    print(f'Stdev: {np.std(math_exams).round(2)}')

math_scores = [24, 5, 15, 60, 54, 82, 99, 80, 70, 98, 93, 60, 33, 22, 65, 61, 51, 58, 83, 86, 42, 67, 60]
desc_stats(math_scores)

Mean: 59.48
Median: 60.0
Mode: 60
Min: 5
Max: 99
Range: 94
Var: 664.16
Stdev: 25.77